*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body {
    min-height: 100vh;
    background-color: #6babff;
}
 
.title-bar{
    height: 70px;
    width: 100%;
    background-color: #0063ff;
    margin-top: -10px;
    padding: 23px;
    padding-left: 3%;
    position: fixed;
}

.title-bar h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}

#title-icon{
    position: absolute;
    margin-left: -33.5px;
    margin-top: 3.5px;
    font-size: 27px;
    color: white;
}

.sidebar {
    width: 225px;
    position: fixed;
    margin: 10px;
    z-index: 2;
    margin-top: 70px;
    border-radius: 16px;
    background: #0063ff;
    height: calc(90vh - 25px);
    transition: width 0.3s ease; 
}
  
  
.sidebar.collapsed {
    width: 85px;
}
  
.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}
  
.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}
  
.sidebar-header .toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    color: #0063ff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 8px;
    background: white;
    transition: 0.4s ease;
}
  
.sidebar.collapsed .sidebar-header .toggler{
    transform: translate(-4px, 65px);
}
  
.sidebar-header span {
    font-size: 1.75rem;
}
  
.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 15px;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav{
    transform: translateY(65px);
}
  
.sidebar-nav .nav-link {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 12px 15px;
    transition: color 0.4s ease, background 0.4s ease;
    text-decoration: none;
}
  
.sidebar-nav .nav-link:hover {
    background: #FFF;
    color: #0063ff;

}
  
.sidebar-nav .nav-link .nav-label{
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label{
    opacity: 0;
    pointer-events: none;
}
  
.sidebar.collapsed .nav-label {
    opacity: 0; 
}
  
  
.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.box-a{
    width: 90.3%;
    height: 552px;
    display: block; /*change this*/
    position: absolute;
    background-color: white;
    margin-left: 8.4%;
    margin-top: 5.3%;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 4px 8px 10px rgba(23, 16, 97, .2);
}

.box-a h2{
    margin: 15px 0%;
    margin-left: 30px;
    font-size: 40px;
    color: #0063ff;
}

.box-b{
    width: 90.3%;
    height: 552px;
    display: none; /*change this*/
    position: absolute;
    background-color: white;
    margin-left: 8.4%;
    margin-top: 5.3%;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 4px 8px 10px rgba(23, 16, 97, .2);
}

.box-b h2{
    margin: 15px 0%;
    margin-left: 30px;
    font-size: 40px;
    color: #0063ff;
}

#create-button{
    height: 50px;
    width: 190px;
    display: block;
    margin-left: 83.2%;
    margin-top: -5%;
    background-color: #0063ff;;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.4s ease;
    border: 2px solid transparent;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .1);
}

#create-button:hover{
    border: 2px solid #0063ff;
    background-color: white;
    color: #0063ff;
    transform: scale(1.02);
}

#plus-icon{
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
    left: 2px;
}

/*Lusing Extension*/
.create-ticket-page{
    width: 400px;
    margin-left: 32.5%;
    margin-top: 5%;
    padding: 20px;
    display: none;
    position: absolute;
    background-color: white; 
    border: 2px solid #0063ff;
    color: #0063ff;
    z-index: 2;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.create-ticket-page h3{
    color: #0063ff;
}
  
.create-ticket-page hr {
    border: none;
    border-top: 2px dashed #0063ff;
    margin: 10px 0;
}

.create-ticket-page button{
    height: 30px;
    width: 150px;
    display: block;
    background-color: #0063ff;;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .1);
}

.create-ticket-page button:hover{
    border: 2px solid #0063ff;
    background-color: white;
    color: #0063ff;
    transform: scale(1.02);
}

#cancel-button{
    margin-left: 0%;
    margin-top: 5%;
}

#submit-button{
    margin-left: 59%;
    margin-top: -8.4%;
}

#close-button{
    margin-left: 30%;
    display: block;
}

.ticket-details {
    text-align: left; 
    margin: 20px 0;
}
  
.detail {
    display: grid;
    grid-template-columns: 100px 1fr; 
    margin-bottom: 10px;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #0063ff;
    font-weight: none;
    font-size: 20px;
}

.form-group input{
    margin-left: 20px;
    margin-bottom: 17px;
}

.box-displayer h3{
    color: #0063ff;
    font-size: 30px;
    padding: 20px;
}

.box-displayer input[type="text"] {
    width: 300px;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 100px;
    margin-top: 20px;

}

.image-upload {
    position: absolute;
    top: 100px; 
    right: 40px;
    text-align: center;
    width: 140px;
}
  
.label {
    font-weight: bold;
}
  
.value {
    text-align: right; 
}

.box-displayer{
    height: 440px;
    width: 94.7%;
    margin-top: 18px;
    margin-left: 30px;
    background-color: rgb(229, 232, 240);
    border: 2px solid transparent;
    border-radius: 15px;
}

.box-displayer h1{
    font-size: 38px;
    margin: 120px;
    color: #0063ff;
    text-align: center;
}

.show-ticket{
    height: 180px;
    width: 250px;
    background-color: white;
    margin: 20px;
    display: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
    transition: 0.3s ease;
    border: 3px solid #0063ff;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .2);
}

.show-ticket a{
    outline: none;
    text-decoration: none;
    color: #0063ff;
}

.show-ticket:hover{
    background-color: white;
    color: #0063ff;
    transform: scale(1.02);
    text-decoration: none;
    outline: none;
}

#status{
    position: absolute;
    color: #39FF14;
    font-size: 20px;
    margin-top: -35px;
    margin-left: 92px;
}

#adjust{
    padding-top: 10px;
    padding-right: 10px;
}

.show-ticket h3{
    color: white;
    text-align: center;
    background-color: #0063ff;
    font-size: 25px;
    padding: 10px;
}

.box-c{
    width: 90.3%;
    height: 552px;
    display: none; /*change this*/
    position: absolute;
    background-color: white;
    margin-left: 8.4%;
    margin-top: 5.3%;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 4px 8px 10px rgba(23, 16, 97, .2);
}

.vehicle-info-button{
    height: 30px;
    width: 150px;
    display: block;
    background-color: #0063ff;;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .1);
}

.vehicle-info-button:hover{
    border: 2px solid #0063ff;
    background-color: white;
    color: #0063ff;
    transform: scale(1.02);
}

.box-c h2{
    margin: 15px 0%;
    margin-left: 30px;
    font-size: 40px;
    color: #0063ff;
}

.form-group span{
    font-weight: bold;
    display: none;
    margin-left: 10px;
}

#submit-vehicle-info{
    margin-left: 331px;
}

#update-vehicle-info{
    display: none;
    margin-left: 331px;
}

#cancel-vehicle-info{
    display: none;
    margin-top: -30px;
    margin-left: 20px;
}

#plate{
    width: 313px;
}

#model{
    width: 381px;
}
